Flask==2.3.3
Werkzeug==2.3.7
Flask-SocketIO==5.3.6
eventlet==0.33.3
Flask-WTF==1.1.1
Flask-Limiter==3.5.0
Flask-Cors==4.0.0
python-dotenv==1.0.1
pycryptodome==3.20.0
Flask-SQLAlchemy==3.1.1
google-cloud-aiplatform==1.73.0
vertexai==1.73.0
gunicorn==21.2.0
